/*
 * list of all icons
 */
.add {background-image: url(images/add16.png) !important;}
.app {background-image: url(images/app16.png) !important;}
.back {background-image: url(images/back16.png) !important;}
.del {background-image: url(images/del16.png) !important;}
.dir {background-image: url(images/folder.png) !important;}
.dirup {background-image: url(images/dirup16.png) !important;}
.doc {background-image: url(images/doc16.png) !important;}
.edit {background-image: url(images/edit16.png) !important;}
.export {background-image: url(images/export16.png) !important;}
.logo {background-image: url(images/logo.png) !important;}
.logout {background-image: url(images/logout16.png) !important;}
.module {background-image: url(images/module16.png) !important;}
.print {background-image: url(images/print16.png) !important;}
.refresh {background-image: url(images/refresh16.png) !important;}
.report {background-image: url(images/report16.png) !important;}
.save {background-image: url(images/save16.png) !important;}
.system {background-image: url(images/system16.png) !important;}
.upload {background-image: url(images/upload16.png) !important;}
.trash {background-image: url(images/trash16.png) !important;}
.ref {background-image: url(images/ref16.png) !important;}
.trans {background-image: url(images/trans16.png) !important;}
.search {background-image: url(images/search16.png) !important;}
.zoomin {background-image: url(images/zoomin16.png) !important;}
.zoomout {background-image: url(images/zoomout16.png) !important;}
.next {background-image: url(images/next16.png) !important;}
.prev {background-image: url(images/prev16.png) !important;}
.up		{background-image: url(images/up16.png) !important;}
.down	{background-image: url(images/down16.png) !important;}
.sharedfoldertree {background-image: url(images/folder_shared.png) !important;}
.sharedfolder
{
	background-image: url(images/folder_shared.png) !important;
	background-position	:0;
	background-repeat	:no-repeat;
	padding				:0px 0px 0px 20px;
	margin				:0px
}

.sharedfile
{
	background-image: url(images/file_shared.png) !important;
	background-position	:0;
	background-repeat	:no-repeat;
	padding				:0px 0px 0px 20px;
	margin				:0px
}

.treeicon 
{ 
    background-image: url(images/folder.png) !important; 
    background-repeat: no-repeat; 
}

.x-grid-tree-node-expanded .treeicon {
  background-image: url(images/open_folder.png) !important; 
}

.dir {
	background-image	:url(images/dir16.png);
	background-position	:0;
	background-repeat	:no-repeat;
	padding				:0px 0px 0px 20px;
	margin				:0px
}

.doc {
	background-image	:url(images/doc16.png);
	background-position	:0;
	background-repeat	:no-repeat;
	padding				:0px 0px 0px 20px;
	margin				:0px
}

.panel-bg {
	background-image	: url(images/bg.jpg);
	background-position	: 0;
	background-repeat	: repeat;
}

.footer {
	position	: fixed;
	width		: 100%;
	bottom		: 4px;
	text-align	: center;
	text-shadow	: black 0.1em 0.1em 0.2em;
	font-weight	: bold;
}

.maintoolbarbg {
	background-image	: url("images/logo.png") !important;
	background-repeat	: no-repeat;
	background-position	: left top;
	background-size		: 80px;
}

/* Ext.msg */
.msg .x-box-mc {
	font-size	:14px;
}
#msg-div {
	position	:absolute;
	left		:35%;
	top			:10px;
	width		:300px;
	z-index		:20000;
}
#msg-div .msg-info {
	border-radius		: 8px;
	-moz-border-radius	: 8px;
	border				: 2px solid #ccc;
	background			: #F6F6F6;
	margin-top			: 2px;
	padding				: 10px 15px;
	color				: #555;
}
#msg-div .msg-info h3 {
	margin		: 0 0 8px;
	font-weight	: bold;
	font-size	: 15px;
}
#msg-div .msg-info p {
	margin		: 0;
}

#msg-div .msg-error {
	border-radius		: 8px;
	-moz-border-radius	: 8px;
	border				: 2px solid #FFC1C1;
	background			: #FFE9E9;
	margin-top			: 2px;
	padding				: 10px 15px;
	color				: #555;
}
#msg-div .msg-error h3 {
	margin		: 0 0 8px;
	font-weight	: bold;
	font-size	: 15px;
}
#msg-div .msg-error p {
	margin		: 0;
} 
