/*
 *  * list of all icons
 *   */
.add {background-image: url(images/add16.png) !important;}
.app {background-image: url(images/app16.png) !important;}
.back {background-image: url(images/back16.png) !important;}
.del {background-image: url(images/del16.png) !important;}
.dir {background-image: url(images/dir16.png) !important;}
.dirup {background-image: url(images/dirup16.png) !important;}
.doc {background-image: url(images/doc16.png) !important;}
.edit {background-image: url(images/edit16.png) !important;}
.export {background-image: url(images/export16.png) !important;}
.logout {background-image: url(images/logout16.png) !important;}
.module {background-image: url(images/module16.png) !important;}
.print {background-image: url(images/print16.png) !important;}
.refresh {background-image: url(images/refresh16.png) !important;}
.report {background-image: url(images/report16.png) !important;}
.save {background-image: url(images/save16.png) !important;}
.system {background-image: url(images/system16.png) !important;}
.upload {background-image: url(images/upload16.png) !important;}

.dir {
	background-image	:url(images/dir16.png);
	background-position	:0;
	background-repeat	:no-repeat;
	padding				:4px 0px 4px 20px;
	margin				:0px
}

.doc {
	background-image	:url(images/doc16.png);
	background-position	:0;
	background-repeat	:no-repeat;
	padding				:4px 0px 4px 20px;
	margin				:0px
}
